body {
    display: flex;
    flex-direction: column;
}

nav {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    padding: 2%;

}

.chart {
    padding: 2% 10% 10% 10% !important;
}

.paiselegir {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.footer div {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.footer div a {
    text-decoration: none;
    color: white;
}

.nota {
    font-size: 14px;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 820px) {
    .chart {
        padding: 1% 1% 1% 1% !important
    }
  }